/* Begin Import Font */
/* Regular */
@font-face {
  font-family: "Hack";
  src: url("./fonts/Hack/Hack-Regular.woff2") format("woff2"),
    url("./fonts/Hack/Hack-Regular.woff") format("woff");
  font-weight: 400; /* normal */
  font-style: normal;
}
/* Bold */
@font-face {
  font-family: "Hack";
  src: url("./fonts/Hack/Hack-Bold.woff2") format("woff2"),
    url("./fonts/Hack/Hack-Bold.woff") format("woff");
  font-weight: 700; /* bold */
  font-style: normal;
}
/* Italic */
@font-face {
  font-family: "Hack";
  src: url("./fonts/Hack/Hack-Italic.woff2") format("woff2"),
    url("./fonts/Hack/Hack-Italic.woff") format("woff");
  font-weight: 400; /* normal */
  font-style: italic;
}
/* Bold Italic */
@font-face {
  font-family: "Hack";
  src: url("./fonts/Hack/Hack-BoldItalic.woff2") format("woff2"),
    url("./fonts/Hack/Hack-BoldItalic.woff") format("woff");
  font-weight: 700; /* bold */
  font-style: italic;
}
@font-face {
  font-family: "DancingScript";
  src: url(./fonts/DancingScript/DancingScript-Regular.ttf);
}
/* End Import Font */

$color-black: #000000;
$color-white: #ffffff;
$color-dark: #353535;
$color-dark-variant: #555555;
body::-webkit-scrollbar {
  width: 6px;
  background-color: var($color-white);
}
body::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: var($color-black);
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Hack", sans-serif;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  letter-spacing: 0.4px;
  user-select: none;
  -webkit-user-drag: none;
  background-color: var($color-white);
  p {
    font-size: 1.5em;
    line-height: 140%;
    color: var(--color-dark-variant);
  }
  a {
    text-decoration: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 120%;
  }
  h1 {
    font-size: 3em;
    color: var(--color-black);
  }
  h2 {
    font-size: 1em;
    color: var(--color-dark-variant);
  }
  h3 {
    font-size: 26px;
    color: var(--color-black);
  }
  h4 {
    font-size: 19px;
    color: var(--color-black);
  }
  h5 {
    font-size: 18px;
    font-weight: 400;
  }
  small {
    font-size: 16px;
  }
  li {
    font-size: 16px;
  }
  hr {
    border: 0;
    height: 1px;
    background: var(--color-dark);
    margin: 0.5rem 0;
  }
  img {
    width: 100%;
    height: 100%;
  }
  hr {
    height: 2px;
    border-radius: 50%;
    background: linear-gradient(
      90deg,
      var(--color-white),
      var(--color-dark),
      var(--color-white)
    );
  }
  #toggle-btn {
    background-color: transparent;
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 5px;
    z-index: 2;
    transition: transfrom 2s linear;
  }
  #toggle-btn:hover {
    transform: rotate(44deg);
  }
  .border .wrapper * {
    border: 1px solid black !important;
  }

  .btn {
    display: inline-block;
    width: fit-content;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    cursor: pointer;
    color: var($color-black);
    border: 1px solid var($color-dark-variant);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 15px;
    transition: var($transition);
    background: var($color-white);
  }
  .btn:hover {
    background: var($color-dark-variant);
    color: var($color-white);
  }
  .btn-dark {
    color: var($color-white);
    background: var($color-dark);
    text-decoration: none !important;
  }
  .btn-dark:hover {
    background: var($color-black);
  }
  h1:hover,
  h2:hover,
  h3:hover,
  h4:hover,
  h5:hover,
  h6:hover,
  p:hover,
  li:hover,
  a:hover,
  .btn:hover {
    transform: translateY(3px);
    text-shadow: 0 0 20px #5c829c;
  }
  img {
    transition: 0.3s ease transform;
  }
  img:hover {
    transform: scale(1.1);
  }

  .wrapper {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    section {
      padding: 5rem 0;
    }
    .container {
      display: flex;
      flex-direction: column;
      gap: 5rem;
      [class$="-header"] {
        text-align: center;
      }
    }

    // /* Begin Nav Bar Section */
    .nav-bar_container {
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      border-top: var(--color-black) 3px solid;
      border-bottom: var(--color-black) 3px solid;
      box-shadow: 0 0 10px 3px var(--color-white);
      display: flex;
      justify-content: center;
      align-items: end;
      padding: 4px 0;
      background-color: var(--color-white);
      padding: 0.3rem 1rem;
      gap: 1rem;
      .brand {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #7ea4b8;
        h3 {
          font-weight: bolder;
          font-family: "DancingScript";
          font-size: 4vh;
          color: #e5ebf1;
          letter-spacing: 0.5rem;
          margin: 0 1rem;
        }
      }
      .nav-list-top {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        ul {
          display: flex;
          width: 100%;
          justify-content: space-around;
          a {
            letter-spacing: 0.2rem;
            line-height: 140%;
            /* font-size: 1rem; */
            text-transform: uppercase;
            font-weight: 900;
            color: var(--color-dark);
          }
          a:hover {
            color: var(--color-dark-variant);
            transition: 0.4s ease;
          }
        }
      }
      .nav-list-bottom {
        position: fixed;
        width: 100vw;
        bottom: 0;
        .nav-list-content {
          background-color: var(--color-white);
          border-top: var(--color-black) solid 3px;
          padding: 3px 0;
          display: flex;
          justify-content: center;
          ul {
            width: 100%;
            height: 5vw;
            display: flex;
            justify-content: space-evenly;
            li {
              z-index: 1;
              a {
                .icon {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  position: relative;
                  img {
                    height: 5vw;
                    width: 5vw;
                    /* transition: all 0.3s ease; */
                    padding: 0.5rem;
                  }
                }
                .icon.active {
                  img {
                    height: 6vw;
                    width: 6vw;
                    border-radius: 50%;
                    border: 3px solid var(--color-black);
                    background-color: #fff;
                    transform: translateY(-3.5vw);
                  }
                  span {
                    font-size: 2vw;
                    opacity: 1;
                    transform: translateY(-3vw);
                  }
                }
                span {
                  color: var(--color-dark);
                  font-size: 1.5vw;
                  /* line-height: 2rem; */
                  font-weight: 900;
                  text-transform: uppercase;
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
    // /* End Nav Bar Section */

    // /* Begin Header Section */
    #Header {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin-bottom: 7.5rem;
      min-height: 100vh;

      &.header-container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex: 1;
        .header-right,
        .header-left {
          align-self: stretch;
          flex: 1;
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 1rem;
          padding: 1rem;
        }
        .header-left {
          img {
            align-self: center;
            border-radius: 30px;
            width: 15rem;
            height: 15rem;
          }
          .slogan {
            align-self: center;
            background-color: var(--color-black);
            color: var(--color-white);
            padding: 4px;
            border-radius: 4px;
          }
        }
        .header-right {
          .icon1 {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
    // /* End Header Section */
  }
}
